doctype html
html(lang="pt-br")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="")
		meta(name="description" content="")
		meta(name="robots" content="index,follow")
		meta(name="copyright" content="Cássio Lemos © 2016 Todos Direitos Reservados")
		meta(name="author" content="Cássio Lemos")
		title Portfólio Web

	body
		// header
		// -----------------------------------------
		include ./includes/header_index.jade

		// banner
		// -----------------------------------------
		//- include ./includes/banner.jade

		// content
		// -----------------------------------------
		main.row
				
			div.row
				
				h1(style="color: #000; display: inline-block; margin-bottom: -20px; width: 100%; font-weight: 300;") Hi. I am Cássio Lemos
					
				aside(class="profile-card")
				
					header(id="header-profile")
						a(href="#" target="blank")
							img(src="https://media.licdn.com/media/AAEAAQAAAAAAAAYjAAAAJDgyZjAxZDRmLTk0MWItNDU3ZS05NzMyLWQ5ZDA1Yjg1NGMzYw.jpg")
						h1 Cássio Lemos
						h2 Front End Developer
					div(class="profile-bio")
						p Hello there!
						p.desc I am a web developer, and a graphic designer. I mainly work with HTML, CSS, JS and WordPress.<br>I also play well with Photoshop, Illustrator, Preprocessors, Javascript, After Effects and Cinema 4D just for fun.
					ul(class="profile-social-links")
					
						li
							a(href="https://br.linkedin.com/in/clemos1" target="blank" class="hvr-grow")
								img(src="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-linkedin.svg" width="32" height="32")
						li
							a(href="https://www.github.io/k2cl" target="blank" class="hvr-grow")
								img(src="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-github.svg" width="32" height="32")
							
						li
							a(href="https://www.facebook.com/k2cassiolemos" target="blank" class="hvr-grow")
								img(src="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-social-facebook.svg" width="32" height="32")
							
				h1(style="color: #000; display: inline-block; width: 100%; font-weight: 300;") Hover in picture to know me ;)	
						
		// footer
		// -----------------------------------------
		include ./includes/footer.jade

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
