doctype html
html(lang="pt-br")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="")
		meta(name="description" content="")
		meta(name="robots" content="index,follow")
		meta(name="copyright" content="Cássio Lemos © 2016 Todos Direitos Reservados")
		meta(name="author" content="Cássio Lemos")
		title Portfólio Web

	body
		// header
		// -----------------------------------------
		include ./includes/header.jade

		// banner
		// -----------------------------------------
		//- include ./includes/banner.jade

		// content
		// -----------------------------------------
		main.row

			div.row
				h1(id='fotos').titulo  | Last Web Projects
				
			div.row
				div.photobox
					a(href="assets/img/fotos/foto_01.jpg" data-imagelightbox="g" )
						img(src="assets/img/fotos/foto_01.jpg")
					h2.cliente
						|Familia Germano
					a(href="http://www.familiagermanodist.com.br/" target="blank" alt="Site Familia Germano" class="hvr-shrink link-site" ) View Website
					
				div.photobox
					a(href="assets/img/fotos/foto_02.jpg" data-imagelightbox="g")
						img(src="assets/img/fotos/foto_02.jpg")
					h2.cliente
						|Universidade Cândido Mendes - Pós Graduação
					a(href="http://www.candidomendesposgraduacao.com.br/" alt="Site Pós Graduação Candido Mendes" class="hvr-shrink link-site" ) View Website
							
				div.photobox
					a(href="assets/img/fotos/foto_03.jpg" data-imagelightbox="g")
						img(src="assets/img/fotos/foto_03.jpg")
					h2.cliente
						|Batata Da Vitória
					a(href="http://www.batatavitoria.com.br/" alt="Site Batata da Vitória" target="blank" class="hvr-shrink link-site" ) View Website
						
				div.photobox
					a(href="assets/img/fotos/foto_04.jpg" data-imagelightbox="g")
						img(src="assets/img/fotos/foto_04.jpg")
					h2.cliente
						|FKW Idiomas
					a(href="http://www.fkwidiomas.com.br/" target="blank" alt="Site FKW Idiomas" class="hvr-shrink link-site" ) View Website
							
				div.photobox
					a(href="assets/img/fotos/foto_05.jpg" data-imagelightbox="g")
						img(src="assets/img/fotos/foto_05.jpg")
					h2.cliente
						|Skate in Vein
					a(href="http://www.skateinvein.com.br/" target="blank" alt="Site Skate in Vein" class="hvr-shrink link-site" ) View Website
							
				div.photobox
					a(href="assets/img/fotos/foto_06.jpg" target="blank" data-imagelightbox="g")
						img(src="assets/img/fotos/foto_06.jpg")
					h2.cliente
						|Bom Paladar
					a(href="http://www.bompaladarrj.com.br/" alt="Site Bom paladar" target="blank" class="hvr-shrink link-site" ) View Website
							
				div.photobox
					a(href="assets/img/fotos/foto_07.jpg" data-imagelightbox="g" )
						img(src="assets/img/fotos/foto_07.jpg")
					h2.cliente
						|Rede Wash
					a(href="http://www.redewash.com.br/" alt="Site Rede Wash"  target="blank" class="hvr-shrink link-site" ) View Website
						
						
						
				div.photobox
					a(href="assets/img/fotos/foto_08.jpg" data-imagelightbox="g")
						img(src="assets/img/fotos/foto_08.jpg")
					h2.cliente
						|Marcio G
					a(href="http://www.marciog.com.br/" alt="Site Marcio G"  target="blank" class="hvr-shrink link-site" ) View Website
						
						
				div.photobox
					a(href="assets/img/fotos/foto_09.jpg" data-imagelightbox="g")
						img(src="assets/img/fotos/foto_09.jpg")
						
					h2.cliente
						|Limpeza Automotiva Rio
					a(href="http://www.limpezaautomotivario.com.br/" alt="Site Limpeza Automotiva Rio"  target="blank" class="hvr-shrink link-site" ) View Website
					
						
				div.photobox
					a(href="assets/img/fotos/foto_10.jpg" data-imagelightbox="g")
						img(src="assets/img/fotos/foto_10.jpg")
						
					h2.cliente
						|Inove Dental
					a(href="http://www.inovedental.com.br/" alt="Site Inove Dental"  target="blank"  class="hvr-shrink link-site" ) View Website
						
						
				div.photobox
					a(href="assets/img/fotos/foto_11.jpg" data-imagelightbox="g")
						img(src="assets/img/fotos/foto_11.jpg")
						
					h2.cliente
						|Eu, menina mulher
					a(href="http://www.eumeninamulher.com.br/" alt="Site Eu, menina mulher"  target="blank" class="hvr-shrink link-site" ) View Website
						
						
				div.photobox
					a(href="assets/img/fotos/foto_12.jpg" data-imagelightbox="g")
						img(src="assets/img/fotos/foto_12.jpg")
						
					h2.cliente
						|Casa di Ferreiro
					a(href="http://www.casadiferreiro.com.br/" alt="Site Casa di Ferreiro"  target="blank" class="hvr-shrink link-site" ) View Website
					
						
				div.photobox
					a(href="assets/img/fotos/foto_13.jpg" data-imagelightbox="g")
						img(src="assets/img/fotos/foto_13.jpg")
						
					h2.cliente
						|Auto Escola Rio Grande
					a(href="#" alt="Site Auto Escola Rio Grande"  target="blank" class="hvr-shrink link-site" ) not avaible
					
						
				//- div.photobox
				//- 	a(href="assets/img/fotos/foto_14.jpg" data-imagelightbox="g")
				//- 		img(src="assets/img/fotos/foto_14.jpg")
				//- 		
				//- 	h2.cliente
				//- 		|Familia Germano
				//- 	a(href="http://www.familiagermanodist.com.br/" alt="Site FAmilia Germano" class="hvr-shrink link-site" ) View Website
				//- 	
				//- 		
				//- div.photobox
				//- 	a(href="assets/img/fotos/foto_15.jpg" data-imagelightbox="g")
				//- 		img(src="assets/img/fotos/foto_15.jpg")
				//- 	h2.cliente
				//- 		|Familia Germano
				//- 	a(href="http://www.familiagermanodist.com.br/" alt="Site FAmilia Germano" class="hvr-shrink link-site" ) View Website
				//- 	
		
		// footer
		// -----------------------------------------
		include ./includes/footer.jade

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
