// footer
// -----------------------------------------
.rodape
	background #d7d7d7

// direitos
.direitos-container
	col(12)
	vertical-align(middle)
	justify(center)
	display flex
	color #494949
	padding 15px
	text-align center

@media screen and (max-width 635px)
	.direitos-container
		col(12)
		justify(center)
		padding 7px

// buscacarioca
.logo-busca-container
	col(3)
	vertical-align(middle)
	justify(right)
	display flex

.logo-busca-container img
	margin 10px 10px
	height: 59px

@media screen and (max-width 635px)
	.logo-busca-container
		col(12)
		justify(center)
		padding 7px
