// banner
// -----------------------------------------
div.banner 
	div.flexslider

		
			//- li
			//- 	img(src="assets/img/02.jpg")
			//- li
			//- 	img(src="assets/img/03.jpg")
			//- 	
			//- li
			//- 	img(src="assets/img/04.jpg")
			//- 
			//- li
			//- 	img(src="assets/img/05.jpg")
			//- 	
			//- li
			//- 	img(src="assets/img/banner-4.jpg")
