script(src = "http://code.jquery.com/jquery-1.9.0.js" type = "text/javascript")
script(src = "assets/scripts/jquery.magnific-popup.js" type = "text/javascript")
script(src = "assets/scripts/jquery.magnific-popup.min.js" type = "text/javascript")
script(src = "assets/scripts/jquery.flexslider.js" type = "text/javascript")
script(src = "assets/scripts/scripts.min.js" type = "text/javascript" async)
script(type="text/javascript" src="assets/scripts/fresco.js")
script(type="text/javascript" src="assets/scripts/imagelightbox.js")
script(type="text/javascript" src="assets/scripts/imagelightbox.min.js")
