// header
// -----------------------------------------
div(class="topo-1")
	div.row
		//- div.logo-container
		//- 	h1 Portfólio 2016
		//- 	h2 Web Design / Desenvolvimento Front End
		nav.menu1
			ul
				//- li
				//- 	a(href="index.html").hvr-bounce-to-top
				//- 		|About
						
				li
					a(href="sobre.html").hvr-bounce-to-top
						| My Projects
